node_modules
.expo
dist
web-build
.git
.gitignore
*.md
.env*.local
ios
android
.kotlin
npm-debug.*
yarn-debug.*
yarn-error.*
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.DS_Store
*.tsbuildinfo
.vscode
.agents
.claude
.codestudio
